<div class="ads-list-container">
  <div class="search-bar">
    <input [(ngModel)]="q" placeholder="חיפוש..." (ngModelChange)="search()" />
    <input [(ngModel)]="radiusKm" placeholder="רדיוס (ק''מ)" type="number" (ngModelChange)="load()" />
    <button (click)="useLocation()">לפי מיקומי</button>
    <button (click)="load()">רענון</button>
    <button (click)="create()" *ngIf="isLogin()">מודעה חדשה</button>
  </div>

  <div *ngIf="ads.length === 0">אין מודעות.</div>
  <div *ngFor="let ad of ads" class="ad-card ad-item">
    <h3>{{ad.title}}</h3>
    <p>{{ad.description}}</p>
    <div style="margin-top:8px;">
      <button (click)="edit(ad)" *ngIf="allowEdit(ad!.createdBy)">עריכה</button>
      <button (click)="remove(ad)" *ngIf="allowEdit(ad!.createdBy)">מחיקה</button>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loading">
  טוען עוד מודעות...
</div>
