.login-component {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  align-items: center;
  margin: 8px 0;
}

.google-btn-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* מציב את הטקסט מעל הכפתור */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.google-btn-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
